ENVIRONMENT=development

MP_ACCESS_TOKEN=TEST-xxxxxxxx
MP_PUBLIC_KEY=TEST-xxxxxxxx
MP_WEBHOOK_SECRET=xxxxxxxx

BASE_URL=https://mi-app.fastapicloud.com
MP_SUCCESS_URL=https://mi-app.fastapicloud.com/checkout/success
MP_FAILURE_URL=https://mi-app.fastapicloud.com/checkout/failure
MP_PENDING_URL=https://mi-app.fastapicloud.com/checkout/pending
MP_WEBHOOK_URL=https://mi-app.fastapicloud.com/webhooks/mercadopago

GOOGLE_CLOUD_PROJECT=mi-proyecto-gcp
LOCAL_FRONTEND_ORIGIN=http://localhost:5500
USE_FIRESTORE_EMULATOR=false
FIRESTORE_EMULATOR_HOST=127.0.0.1:8080

